* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#timer{
    padding: 1rem;
    color: #e6ecff;
    font: 4rem "Copperplate", fantasy ;
    text-align: center;
    background: linear-gradient(70deg, #cb6ce6, #004aad);

}
#game {
    background-color: #e6ecff;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px;
}

img {
    width: 100px;
    height: 150px;
}

#sprites{
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 30vw;
    bottom: 40%;
}
#character, #enemy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#character_life{
    padding:10px;
    font: 3em "Copperplate", fantasy ;
    background-color: #13e35c;
    border: 1px solid black;
    border-radius: 20px;
}
#enemy_life{
    padding:10px;
    font: 3em "Copperplate", fantasy ;
    background-color: #f53b08;
    border: 1px solid black;
    border-radius: 20px;
}